*{
    font-family: 'Roboto', sans-serif;
}
.text-light{
    font-weight: 100;
}
.text-regular{
    font-weight: 400;
}
.text-bold{
    font-weight: 700;
}
.fontS-22{
    font-size: 22px;
}

.btn-person{
    border: 1px solid #757575;
    padding: 3px 30px;
    border-radius: 5px;
    background: transparent;
}
.btn-person-2{
    border: 1px solid #757575;
    padding: 3px 30px;
    border-radius: 5px;
    background: transparent;
}
.btn-person-2:hover{
    background: #F5F5F5;
}

button.btn{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}